DATABASE_URL="" # SQLite database file path (example: file:./data.db)

# Minio configuration
# Change the following values in needed
MINIO_ENDPOINT=minio
MINIO_PORT=9000 
MINIO_ACCESS_KEY=root
MINIO_SECRET_KEY=password
MINIO_USE_SSL=false
MINIO_CONSOLE_PORT=9001  # You can change this value to any port you want

ALLOWED_ORIGINS= # Comma separated list of allowed origins (example: example1.domain.com,example2.domain.com )
ALLOWED_REMOTE_IMAGES= # Comma separated list of allowed remote images (example: https://example1.domain.com,http://localhost:9000/thumbnails )

USING_ARM=false # Set to true if you are using an ARM based device

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="" # Generate with: openssl rand -base64 32
GITHUB_ID=""
GITHUB_SECRET=""
